.navbarContainer {
  height: 80px;
  max-width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #703f07;
}

.navbarContainer.change {
  background-color: transparent;
}

.navbarContainer.color {
  background-color: #703f07;
}

.navbarWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarLeft {
  color: rgb(211, 196, 111);
  opacity: 1;
}

.navbarLogo {
  font-family: "Parisienne", cursive;
  cursor: pointer;
}

.navbarCenter {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Chocolate-dropdown {
  display: inline-block;
  padding: 30px 0;
}

.Chocolate-dropdown-content {
  display: none;
  position: fixed;
  left: 70px;
  background-color: #f1f1f1;
  min-width: 1200px;
  height: 300px;
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Chocolate-dropdown-content-items {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: black;
}

.dropDownImg {
  height: 170px;
  width: 170px;
  object-fit: cover;
  vertical-align: middle;
}

.dropDown {
  display: flex;
  flex-direction: column;
}

.dropDownTitle {
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.dropDownTitle:hover {
  color: orangered;
}

.dropDownItems {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
}

.dropDownLineItem {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  transition: 1s ease-in-out;
}

.dropDownLineItem:hover {
  color: orangered;
}

.Chocolate-dropdown:hover .Chocolate-dropdown-content {
  display: block;
}

.navbarcenterMenuItems {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.navbarcenterMenuItems:hover {
  color: rgb(211, 196, 111);
}

.navbarMenuHome.color {
  color: rgb(211, 196, 111);
}

.navbarMenuCat.color {
  color: rgb(211, 196, 111);
}

.navbarMenuChoc.color {
  color: rgb(211, 196, 111);
}

.navbarMenuBlog.color {
  color: rgb(211, 196, 111);
}

.navbarMenuAdmin.color {
  color: rgb(211, 196, 111);
}

.navbarRight {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbarIcon {
  margin-right: 20px;
  color: white;
  transition: 0.5s ease-in-out;
}

.navbarSearchIcon {
  margin-right: 20px;
  transition: 0.5s ease-in-out;
}

.navbarIcon:hover {
  color: rgb(211, 196, 111);
}

.searchOutlinedIcon {
  color: white;
  transition: 1s ease-in-out;
}

.searchOutlinedIcon:hover {
  color: rgb(211, 196, 111);
}

.searchBar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.searchBarWrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.searchInput {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInputField {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: rgb(204, 201, 201);
  font-size: 16px;
  outline: none;
}

.searchIconBackground {
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-left: -45px;
  color: white;
  background-color: #703f07;
  cursor: pointer;
  z-index: 2;
}

.closeIconWrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeSearchBarIcon {
  padding: 5px;
  cursor: pointer;
}

.closeSearchBarIcon:hover {
  background-color: red;
  color: white;
}

.searchResult {
  background-color: #fff;
  margin-top: 10px;
}

.searchResultWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.yourSearchFor {
  font-size: 18px;
  font-weight: 500;
}

.searchKeyWord {
  font-weight: bold;
}

.seeAllProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeProducts {
  font-size: 18px;
  font-weight: 500;
  color: #703f07;
}

.productResults {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.productResultImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.productResultName {
  margin-left: 20px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 10px;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content-items {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}

.dropdown-content-items:hover {
  color: orangered;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Login {
  margin-left: 20px;
}

.createAccount {
  margin-left: 20px;
}

.logout {
  color: white;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.logout:hover {
  color: rgb(211, 196, 111);
}
