.cartProducts {
  width: 450px;
  display: flex;
  margin-bottom: 20px;
}

.cartProductImg {
  display: flex;
  flex-direction: column;
  position: relative;
}

.removeCartProduct {
  position: absolute;
  top: -12px;
  left: -15px;
  cursor: pointer;
}

.cartImage {
  height: 150px;
  width: 150px;
  object-fit: cover;
  vertical-align: middle;
}

.cartProductInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

.cartProductName {
  font-size: 18px;
}

.cartProductSizeFlavour {
  margin-top: 15px;
  font-size: 18px;
}

.cartProductCounter {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  font-size: 18px;
}

.cartProductPrice {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}

.cartProductPriceAmt {
  margin-left: 10px;
}

.cartProductTotal {
  margin-top: 15px;
  font-size: 20px;
}

.cartProductTotalAmt {
  color: #703f07;
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .cartProducts {
    width: 450px;
  }

  .cartProductName {
    font-size: 15px;
  }

  .cartProductSizeFlavour {
    font-size: 12px;
  }

  .cartProductCounter {
    font-size: 12px;
  }

  .cartProductPrice {
    font-size: 12px;
  }

  .cartProductTotal {
    font-size: 12px;
  }

  .cartProductTotalAmt {
    font-size: 12px;
    margin-left: 20px;
  }
}
