.signupContainer {
  height: 100vh;
  background-color: rgb(212, 211, 211);
}

.signupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.signupLeft {
  flex: 0.4;
  max-width: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.signupForm {
  display: flex;
}

.signupAlternative {
  display: flex;
  flex-direction: column;
}

.signUpItemInputs {
  display: flex;
  flex-direction: column;
}

.signupInputItem {
  width: 440px;
  padding: 15px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  outline: none;
}

.singupError {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: red;
}

.signupActionButtons {
  max-width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.signupNow {
  width: 120px;
  padding: 10px;
  border: none;
  background-color: rgb(26, 3, 90);
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signupLogin {
  width: 120px;
  padding: 10px;
  border: none;
  background-color: rgb(133, 133, 146);
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signupRight {
  flex: 0.6;
  margin: 10px;
}

.signupRightBcImg {
  height: 500px;
}

@media only screen and (max-width: 900px) {
  .signupWrapper {
    margin-top: 80px;
  }

  .signupLeft {
    flex: 1;
  }

  .signupRight {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .signupContainer {
    width: 100vw;
  }

  .signupWrapper {
    margin-top: 80px;
  }

  .signupLeft {
    flex: 1;
    max-width: 100%;
  }

  .signUpTitle {
    font-size: 16px;
  }

  .signupInputItem {
    width: 90%;
    font-size: 12px;
  }

  .signupActionButtons {
    max-width: 100%;
  }

  .signupNow {
    font-size: 12px;
  }

  .signupLogin {
    font-size: 12px;
  }

  .signupRight {
    display: none;
  }
}
