.productsPageContainer {
  width: 100%;
  margin-top: 80px;
}

.productsPageWrapper {
  display: flex;
  flex-direction: column;
}

.productsPageTop {
  height: 250px;
  background-color: black;
  color: white;
}

.productsPageTopContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.productsPageCategoryTitle {
  margin-bottom: 20px;
}

.productsPageDown {
  margin-top: 100px;
}

.productsPageDownContents {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.productsInfo {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.productImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 10px;
  animation: myImg 1.5s infinite;
}

@keyframes myImg {
  from {
    background-color: rgb(218, 216, 214);
  }
  to {
    background-color: rgb(105, 105, 105);
  }
}

.productName {
  margin-top: 10px;
}

.productPriceWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.productOldPrice {
  margin-left: 20px;
  opacity: 0.6;
}

.shoMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showMore {
  width: 170px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(28, 45, 138);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
  .productImg {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .productsPageContainer {
    width: 100vw;
  }

  .productsPageCategoryTitle {
    font-size: 16px;
  }

  .productsPageCategoryType {
    font-size: 13px;
  }

  .productsInfo {
    margin: 10px;
    width: 360px;
  }

  .productImg {
    width: 100%;
  }
}
