.featuredProductsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.featuredProductsTitle {
  margin-top: 50px;
  margin-bottom: 50px;
}

.featuredProductsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.featuredProductsImg-SerachIcon {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  transition: 1s ease-in-out;
}

.featuredProductsImg-SerachIcon:hover {
  opacity: 0.8;
}

.featuredProductsImg-SerachIcon:hover .featuredProductsSearchIcon {
  visibility: visible;
}

.featuredProductsSearchIcon {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(189, 187, 185);
  transition: 1s ease-in-out;
  visibility: hidden;
}

.featuredProductsSearchIcon:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orangered;
  cursor: pointer;
}

.featuredProductsImg {
  width: 300px;
  height: 300px;
  margin-left: 20px;
  object-fit: cover;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10px;
  animation: myImg 1.5s infinite;
}

@keyframes myImg {
  from {
    background-color: rgb(218, 216, 214);
  }
  to {
    background-color: rgb(105, 105, 105);
  }
}

@media only screen and (max-width: 900px) {
  .featuredProductsImg {
    width: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .featuredProductsTitle {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .featuredProductsImg-SerachIcon {
    width: 360px;
  }

  .featuredProductsImg-SerachIcon:hover {
    opacity: 1;
  }

  .featuredProductsImg-SerachIcon:hover .featuredProductsSearchIcon {
    visibility: hidden;
  }

  .featuredProductsImg {
    width: 100%;
    margin-left: 0;
  }
}
