.checkoutContainer {
  margin-top: 100px;
}

.checkoutWrapper {
  display: flex;
  margin: 10px;
}

.checkoutLeft {
  flex: 0.6;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.checkoutLeftContactInfo {
  display: flex;
  flex-direction: column;
}

.contactinformation {
  font-size: 25px;
  font-weight: 500;
}

.inputItemx {
  width: 60%;
  padding: 10px;
  margin-top: 15px;
  outline: none;
}

.checkBox {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.newsLetter {
  margin-left: 10px;
}

.deliveryInformation {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
}
.selectionItems {
  width: 63%;
  padding: 10px;
  margin-top: 15px;
}

.firstNameLastName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63%;
  margin-top: 15px;
}

.namefields {
  padding: 10px;
  outline: none;
}

.checkoutRight {
  flex: 0.4;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.checkoutRightProductInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.productInfoWrapper {
  display: flex;
  justify-content: center;
}

.checkoutProductInfo {
  display: flex;
  align-items: center;
}

.checkoutImgAndIcon {
  display: flex;
  flex-direction: column;
  position: relative;
}

.badgeIcon {
  position: absolute;
  top: -5px;
}

.checkoutProductImg {
  height: 80px;
  width: 140px;
  object-fit: cover;
  vertical-align: middle;
}

.checkoutProductDetails {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.checkoutProductSizeFlavour {
  font-weight: 500;
}

.horizontalLine {
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 0.6;
}

.checkoutProductsSubtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutProductSubtotalAmt {
  font-weight: bold;
  font-weight: 500;
}

.checkoutProductsDeliveryFee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutProductDeliveryFeeAmt {
  font-weight: bold;
  margin-top: 15px;
  font-weight: 500;
}

.amountToBePaid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ToatalAmountTitle {
  font-size: 20px;
  font-weight: bold;
}

.TotalAmount {
  font-weight: bold;
  font-size: 20px;
}

.payButton {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payNow {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 18px;
  width: 170px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(4, 4, 65);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .checkoutContainer {
    width: 100vw;
    overflow-x: hidden;
  }

  .checkoutWrapper {
    flex-direction: column;
    margin: 20px;
  }

  .checkoutLeft {
    margin: 0;
  }

  .contactinformation {
    font-size: 15px;
  }

  .inputItemx {
    width: 90%;
    font-size: 12px;
  }

  .newsLetter {
    font-size: 12px;
  }

  .deliveryInformation {
    font-size: 15px;
  }
  .selectionItems {
    width: 100%;
    font-size: 12px;
  }

  .firstNameLastName {
    margin-top: 0;
  }

  .namefields {
    margin-top: 15px;
    margin-right: 10px;
    width: 135px;
    font-size: 12px;
  }

  .checkoutRight {
    margin: 0;
    margin-top: 40px;
  }

  .checkoutProductInfo {
    display: flex;
    align-items: center;
  }

  .checkoutProductName {
    font-size: 12px;
  }

  .checkoutProductAmt {
    font-size: 12px;
  }

  .checkoutProductSubtotalAmt {
    font-size: 15px;
  }

  .checkoutProductDeliveryFeeAmt {
    font-size: 15px;
  }

  .ToatalAmountTitle {
    font-size: 16px;
  }

  .TotalAmount {
    font-size: 16px;
  }

  .payNow {
    font-size: 12px;
  }
}
