.featuredContainer {
  display: flex;
  height: 90vh;
}

.featuredWrapper {
  position: relative;
  background-color: black;
}

.featuredBackgroundImage {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  opacity: 0.5;
}

.featuredCallToAction {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 230px;
  left: 550px;
  z-index: 2;
}

.featuredDescription {
  color: rgb(211, 196, 111);
  font-size: 40px;
  font-weight: 600;
}

.featuredShopNow {
  width: 200px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: rgb(211, 196, 111);
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  .featuredContainer {
    height: 50vh;
    width: 100vw;
  }

  .featuredBackgroundImage {
    width: 100%;
    height: auto;
  }

  .featuredCallToAction {
    top: 180px;
    left: 100px;
  }

  .featuredDescription {
    font-size: 25px;
  }

  .featuredShopNow {
    width: 180px;
    padding: 10px;
    font-size: 20px;
  }
}
