.termsOfServiceContainer {
  margin-top: 100px;
  height: 100vh;
}

.termsOfServiceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.termsofService {
  max-width: 600px;
  margin-top: 20px;
  line-height: 25px;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  .termsOfServiceWrapper {
    margin: 20px;
  }

  .termsofServiceTitle {
    font-size: 20px;
  }

  .termsofService {
    font-size: 12px;
  }
}
