.aboutWrapper {
  display: flex;
  margin: 30px;
}

.aboutLeft {
  flex: 0.5;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.aboutLeftTitle {
  margin-top: 50px;
  margin-bottom: 30px;
}

.aboutLeftDescription {
  margin-top: 20px;
  line-height: 25px;
}

.aboutRight {
  flex: 0.5;
  margin-left: 20px;
}
.aboutRightImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border: none;
}

@media only screen and (max-width: 900px) {
  .aboutWrapper {
    flex-direction: column;
    margin: 20px;
  }

  .aboutRight {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .aboutWrapper {
    flex-direction: column;
    margin: 20px;
  }

  .aboutLeft {
    max-width: 100%;
  }

  .aboutLeftTitle {
    margin-bottom: 10px;
  }

  .aboutLeftDescription {
    margin-top: 10px;
    font-size: 12px;
  }

  .aboutRight {
    margin-left: 0;
  }
  .aboutRightImage {
    height: auto;
    width: 100%;
  }
}
