.createUserForm {
  display: flex;
  flex-direction: column;
}

.ceateNewUserTitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.formInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.formInputItems {
  width: 400px;
  padding: 10px;
  outline: none;
}

.createNewUserButton {
  margin-top: 20px;
  border: none;
  width: 170px;
  padding: 10px;
  background-color: rgb(6, 4, 97);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.selectActiveStatus {
  width: 425px;
  padding: 10px;
}
