.orderStatus {
  color: red;
}

.orderFulfilled {
  display: flex;
  align-items: center;
  color: green;
}

.orderFulFilled {
  margin-right: 10px;
}

.viewDetails {
  padding: 10px;
  margin-left: 15px;
  background-color: rgb(11, 119, 43);
  color: white;
  cursor: pointer;
}
