.footerContainer {
  height: 205px;
  width: 100%;
  background-color: #703f07;
  transition: 1s ease-in;
}

.footerWrapper {
  display: flex;
  align-items: center;
}

.footerLeft {
  flex: 0.5;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.footerLeftItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.footerLeftbusinessItem {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.footerLeftbusinessItem:hover {
  color: rgb(211, 196, 111);
}

.footerRight {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.socialMediaHandles {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.socialIcon {
  margin-left: 20px;
}

.footerItems {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.footerItem {
  margin-left: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}

.footerItem.active {
  color: rgb(211, 196, 111);
}

.footerItem:hover {
  color: rgb(211, 196, 111);
}
.footerPaymentGateways {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.gatewayItem {
  height: 25px;
  width: 50px;
  object-fit: contain;
  margin-left: 15px;
}

.footerCopyRight {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.footerCompanyName {
  margin-right: 5px;
  font-size: 15px;
}

.FooterYear {
  margin-left: 5px;
  font-size: 15px;
}

@media only screen and (max-width: 500px) {
  .footerContainer {
    height: 170px;
    width: 100vw;
  }

  .footerLeft {
    flex: 0.5;
    margin-left: 10px;
  }

  .footerLeftbusinessItem {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
  }

  .footerItem {
    margin-left: 10px;
    font-size: 12px;
  }

  .gatewayItem {
    height: 20px;
    width: 30px;
    margin-left: 10px;
  }

  .footerCompanyName {
    font-size: 12px;
  }

  .FooterYear {
    font-size: 12px;
  }
}
