.orderDetailsContainer {
  margin-top: 100px;
  width: 100vw;
}

.orderDetailsWrapper {
  display: flex;
  margin: 20px;
}

.orderDetailsLeft {
  flex: 0.4;
  display: flex;
  flex-direction: column;
}

.orderId {
  margin-top: 15px;
  margin-bottom: 10px;
}

.orderDate {
  margin-top: -10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}

.amountHeader {
  text-align: right;
}

.amountColumn {
  text-align: right;
}

.orderTotals {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
}

.subtotalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
}

.deliveryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
}

.orderTotalAmtWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 25px;
}

.downloadOrderReceipt {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.downloadReceipt {
  margin-top: 10px;
  width: 180px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(172, 172, 175);
  color: rgb(2, 2, 2);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.orderDetailsRight {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.orderBillingAddress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.deliveryPhone {
  margin-top: 5px;
}

.orderPymtStatusWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.orderPymtStatus {
  margin-right: 20px;
}

.orderPymtResponse {
  color: #046e09;
  font-weight: 500;
}

.orderPymtResponse.pending {
  color: #ce0707;
}

.instructionFromCustomer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.deliveryTime {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .orderDetailsWrapper {
    flex-direction: column;
  }

  .orderLeftCompanyTitle {
    font-size: 16px;
  }

  .orderLeftReceiptTitle {
    font-size: 13px;
  }

  .orderId {
    font-size: 12px;
  }

  .orderDate {
    font-size: 12px;
  }

  th {
    font-size: 15px;
  }

  td {
    font-size: 12px;
  }

  .subtotalWrapper {
    font-size: 14px;
  }

  .deliveryWrapper {
    font-size: 14px;
  }

  .orderTotalAmtWrapper {
    font-size: 16px;
    font-weight: bold;
  }

  .downloadOrderReceipt {
    font-size: 12px;
  }

  .downloadReceipt {
    font-size: 12px;
  }

  .orderDetailsRight {
    margin: 0;
  }

  .orderDetailsRightTitle {
    font-size: 15px;
  }

  .orderPymtStatus {
    font-size: 13px;
  }

  .orderPymtResponse {
    font-size: 12px;
    font-weight: bold;
  }

  .deliveryPhone {
    font-size: 12px;
  }

  .nameOnOrder {
    font-size: 12px;
  }

  .deliveryEmail {
    font-size: 12px;
  }

  .orderApartmentSuite {
    font-size: 12px;
  }

  .orderRegion {
    font-size: 12px;
  }

  .instructionFromCustomer {
    font-size: 12px;
  }

  .estimatedDelivery {
    font-size: 13px;
  }

  .deliveryTime {
    font-size: 12px;
  }
}
