.orderDetailsWrapper {
  display: flex;
  margin-top: 100px;
}

.orderDetailsLeft {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.orderId {
  margin-top: 15px;
  margin-bottom: 10px;
}

.orderDate {
  margin-top: -10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 16px;
}

.amountHeader {
  text-align: right;
}

.amountColumn {
  text-align: right;
}

.orderTotals {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
}

.subtotalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
}

.deliveryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
}

.orderTotalAmtWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-size: 25px;
}

.downloadOrderReceipt {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.downloadReceipt {
  margin-top: 10px;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(79, 79, 80);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.orderDetailsRight {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.orderBillingAddress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.deliveryPhone {
  margin-top: 5px;
}

.orderPymtStatusWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.orderPymtStatus {
  margin-right: 20px;
}

.orderPymtResponse {
  color: #046e09;
  font-weight: 500;
}

.instructionFromCustomer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.deliveryTime {
  display: flex;
  flex-direction: column;
}
