.privacyPolicyContainer {
  margin-top: 100px;
  height: 100vh;
}

.privacyPolicyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privacyPolicy {
  max-width: 600px;
  margin-top: 20px;
  line-height: 25px;
  font-size: 18px;
}

.gcpaAct {
  margin-top: 30px;
}

.yourRight {
  margin-top: 30px;
}

.act {
  max-width: 600px;
  margin-top: 20px;
  line-height: 25px;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  .privacyPolicyWrapper {
    margin: 20px;
  }
  .privacyPolicyTitle {
    font-size: 20px;
  }

  .privacyPolicy {
    font-size: 12px;
  }

  .gcpaAct {
    font-size: 20px;
  }

  .yourRight {
    font-size: 16px;
  }

  .act {
    font-size: 12px;
  }
}
