.cartContainer {
  margin-top: 80px;
}

.cartTop {
  height: 250px;
  width: 100%;
  background-color: black;
}

.cartWrapper {
  display: flex;
  flex-direction: column;
}

.cartTopInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
}

.cartInfoTitle {
  margin-top: 20px;
}

.cartDown {
  margin-top: 20px;
  display: flex;
}

.cartDownLeft {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.cartLeftTitleCover {
  padding: 10px;
  width: 100%;
  background-color: rgb(240, 235, 235);
  margin-bottom: 20px;
  opacity: 0.5;
}

.cartProductItems {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cartProducts {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cartProductImg {
  display: flex;
  flex-direction: column;
  position: relative;
}

.removeCartProduct {
  position: absolute;
  top: -12px;
  left: -15px;
  cursor: pointer;
}

.cartImage {
  height: 150px;
  width: 150px;
  object-fit: cover;
  vertical-align: middle;
}

.cartProductInfo {
  display: flex;
  flex-direction: column;
}

.cartProductName {
  font-size: 18px;
}

.cartProductSizeFlavour {
  margin-top: 15px;
  font-size: 18px;
}

.cartProductCounter {
  margin-top: 15px;
  font-size: 18px;
}

.cartProductTotal {
  margin-top: 15px;
}

.cartProductCounter {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cartProductTotalAmt {
  color: #703f07;
  font-weight: bold;
}

.continue-Update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.contShop-UpadteCart {
  padding: 10px 10px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #703f07;
  cursor: pointer;
}

.cartDownRight {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.cartRightOrderSummary {
  padding: 10px;
  width: 100%;
  background-color: rgb(240, 235, 235);
  margin-bottom: 20px;
  opacity: 0.5;
}

.cartRightSubtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartRightSubTotalAmt {
  color: #703f07;
  font-weight: bold;
}

.specialInstructions {
  margin-top: 20px;
  outline: none;
}

.checkoutInstructions {
  margin-top: 20px;
  padding: 10px;
  height: 120px;
  border-radius: 15px;
}

.noteTobuyer {
  margin-top: 20px;
}

.proceedToCheckout {
  margin-top: 20px;
  padding: 10px 10px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #703f07;
  cursor: pointer;
}

.cartRightShippingEstimate {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.cartShippingEstimateTitle {
  padding: 10px;
  width: 100%;
  background-color: rgb(240, 235, 235);
  margin-bottom: 20px;
  opacity: 0.5;
}

.regionSelection {
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.regions {
  margin-bottom: 5px;
}

.calculateShipping {
  margin-top: 20px;
  width: 400px;
  padding: 10px 10px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(4, 4, 65);
  cursor: pointer;
}

.deliveryResult {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
