.navbarContainer {
  height: 80px;
  max-width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #703f07;
}

.navbarContainer.color {
  background-color: #703f07;
}

.navbarWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarLeft {
  color: rgb(211, 196, 111);
  opacity: 1;
}

.navbarCenter {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Chocolate-dropdown {
  display: inline-block;
  padding: 30px 0;
}

.Chocolate-dropdown-content {
  display: none;
  position: fixed;
  left: 70px;
  background-color: #f1f1f1;
  min-width: 1200px;
  height: 300px;
  margin-top: 29px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Chocolate-dropdown-content-items {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: black;
}

.dropDownImg {
  height: 170px;
  width: 170px;
  object-fit: cover;
  vertical-align: middle;
}

.dropDown {
  display: flex;
  flex-direction: column;
}

.dropDownTitle {
  margin-top: 10px;
  transition: 1s ease-in-out;
}

.dropDownTitle:hover {
  color: orangered;
}

.dropDownItems {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
}

.dropDownLineItem {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  transition: 1s ease-in-out;
}

.dropDownLineItem:hover {
  color: orangered;
}

.Chocolate-dropdown:hover .Chocolate-dropdown-content {
  display: block;
}

.navbarcenterMenuItems {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.navbarcenterMenuItems:hover {
  color: rgb(211, 196, 111);
}

.navbarMenuHome.color {
  color: rgb(211, 196, 111);
}

.navbarMenuCat.color {
  color: rgb(211, 196, 111);
}

.navbarMenuChoc.color {
  color: rgb(211, 196, 111);
}

.navbarMenuBlog.color {
  color: rgb(211, 196, 111);
}

.navbarMenuAdmin.color {
  color: rgb(211, 196, 111);
}

.navbarRight {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbarIcon {
  margin-right: 20px;
  color: white;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content-items {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Login {
  margin-left: 20px;
}

.createAccount {
  margin-left: 20px;
}
