.sidebarContainer {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(32, 32, 32);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
}

.sidebarMenuList {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.sidebarMenuList:hover {
  color: rgb(211, 196, 111);
}

.sidebarMenuList.activate {
  color: rgb(211, 196, 111);
}

.sidebarMenuList.color {
  color: rgb(211, 196, 111);
}

.sidebarMenuListPath {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
