.footerContainer {
  height: 180px;
  width: 100%;
  background-color: #703f07;
  margin-top: 50px;
}

.footerWrapper {
  display: flex;
  align-items: center;
  margin: 20px;
}

.footerLeft {
  flex: 0.5;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footerLeftItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.footerLeftbusinessItem {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.footerRight {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.socialMediaHandles {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.socialIcon {
  margin-left: 20px;
}

.footerItems {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.footerItem {
  margin-left: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  transition: 1s ease-in-out;
}

.footerItem.active {
  color: rgb(211, 196, 111);
}

.footerItem:hover {
  color: rgb(211, 196, 111);
}
.footerPaymentGateways {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.gatewayItem {
  height: 25px;
  width: 50px;
  object-fit: cover;
  margin-left: 15px;
}

.footerCopyRight {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.footerCompanyName {
  margin-right: 5px;
  font-size: 15px;
}

.FooterYear {
  margin-left: 5px;
  font-size: 15px;
}
