.resetPasswordMainContainer {
  background-color: rgb(233, 229, 229);
}

.forgotResetSubContainer {
  display: flex;
  justify-content: center;
}

.forgotResetWrapper {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  width: 500px;
  height: 450px;
  background-color: #703f07;
}

.resetForm {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.resetTitle {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.resetInput {
  width: 300px;
  padding: 15px;
  margin-top: 15px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

.submitRequestReset {
  margin-top: 20px;
  width: 333px;
  padding: 15px;
  border: none;
  background-color: rgb(109, 106, 106);
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
