.Navbar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #f2f2f2;
}

.NavbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: darkblue;
  cursor: pointer;
}

.NavbarIcons {
  margin-right: 40px;
  cursor: pointer;
}

.profile > img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.logout {
  position: fixed;
  right: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #141322;
  cursor: pointer;
}
