.editProductWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.createNew {
  position: absolute;
  right: 10px;
}

.createProduct {
  background-color: rgb(5, 117, 65);
  width: 120px;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.editProductTop {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 0px 12px 0px #04061f;
  box-shadow: 0px 0px 12px 0px #04061f;
}

.editProductProfile {
  display: flex;
  align-items: center;
}

.editProductImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 20px;
}

.editProductInfo {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  margin-top: 20px;
}

.editProductInfoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.editProductDown {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 12px 0px #04061f;
  box-shadow: 0px 0px 12px 0px #04061f;
}

.editProductDownLeft {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.editProductForms {
  display: flex;
  flex-direction: column;
}

.editProductFormInputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.editProductInput {
  width: 400px;
  height: 150px;
  padding: 20px;
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.editProductPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editPriceItem {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  border: 0.5px solid gray;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 20px;
}

.updateCostPerProduct {
  margin-top: 20px;
  width: 250px;
  padding: 10px;
  border: 0.5px solid gray;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 20px;
}

.editProductQuantity {
  margin-top: 20px;
  width: 250px;
  padding: 10px;
  border: 0.5px solid gray;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}

.editProductSelectItem {
  width: 275px;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.editProductDownRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.4;
}
.editProductRightUpload {
  display: flex;
  align-items: center;
}

.editProductRightImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 5px;
  margin-right: 20px;
}

.uploadEditedProductInput {
  display: none;
}

.updateImgsPreview {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.EditImgsPreview {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.updateProductButton {
  position: relative;
  right: 20px;
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(17, 5, 90);
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
