.dashboardWrapper {
  display: flex;
  flex-direction: column;
}

.dashboardWidget {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardLineItems {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 0px 12px 0px #04061f;
  box-shadow: 0px 0px 12px 0px #04061f;
  cursor: pointer;
  border-radius: 5px;
}

.lineItems {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.lineItemTitle {
  font-size: 30px;
  font-weight: 500;
  color: #04061f;
}

.percentageDifference {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.percentage {
  margin-right: 10px;
}

.comparedTo {
  margin-top: 20px;
  color: rgb(122, 122, 122);
}

.dashboardUserAnalytics {
  margin-top: 80px;
}

.dashboardLatestTransactions {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.latestTransaction {
  margin-bottom: 20px;
}

.customerInfo {
  display: flex;
  align-items: center;
}

.customerImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 20px;
}
